<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5d5c0091b5.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <div id="app">

        <nav class="navbar navbar-light bg-white shadow mb-4"> 
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html"><img width="150" src="./Images/LogoBanner.png" alt=""></a>
                <div> 
                    <div class="btn-group dropstart">
                      <button type="button" class="dropdown me-3 btn btn-light" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user" style="color: #484747;"></i>
                      </button>
                      <div class="dropdown-menu p-3" style="width: 250px">
                        <input v-if="accessJti === null" v-model="username" class="form-control mt-1" placeholder="Username">
                        <h6 v-if="accessJti !== null" class="text-center mb-3"><strong>Username : </strong>{{ username }}</h6>
                        <input v-if="accessJti === null" v-model="password" type="password" class="form-control mt-1" placeholder="Kodeord">                        
                        <div class="d-flex justify-content-center my-1">
                          <button v-if="accessJti === null" type="submit" @click="login()" class="btn btn-success text-center w-100 text-white">Log ind</button>
                          <button v-else @click="logout()" type="submit" class="btn btn-danger text-center w-100 text-white">Logout</button>
                        </div>               
                      </div>
                    </div>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </div>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/Kontrol.html">Kontrol</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Om os</a>
                  </li>
                  <li v-if="accessJti !== null" class="nav-item">
                    <a class="nav-link" href="/Log.html">Log</a>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Kontakt</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          

        <!--Content-->
        <div class="container">
            <img src="./Images/LogoBanner.png" class="w-100">
        </div>

        <footer class="d-flex justify-content-around container-fluid py-3 shadow">
                <div class="d-flex flex-column justify-content-center" style="width: 40vw; max-width: 500px;">
                    <h1>Kontakt os</h1>
                    <input type="text" placeholder="Email" class="form-control my-1">
                    <input type="text" placeholder="Navn" class="form-control my-1">
                    <textarea name="Besked" class="form-control my-1" placeholder="Besked" id="" cols="5" rows="5"></textarea>
                    <button class="btn btn-success w-100">Send</button>
                </div>
                <img src="./Images/Logo.png" class="" style="max-height: 350px; max-width: 350px;"> 
        </footer>

    </div>
    <script src="./js/index.js"></script>
</body>
</html>

<style>
  .dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
</style>