<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5d5c0091b5.js" crossorigin="anonymous"></script>
    <link href="/StyleSheet/style.css" rel="stylesheet" crossorigin="anonymous" >
    <title>User Register</title>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-light bg-white shadow mb-4"> 
            <div class="container-fluid">
              <a class="navbar-brand" href="./index.html"><img width="150" src="./Images/LogoBanner.png" alt=""></a>
                <div> 
                    <div class="btn-group dropstart">
                      <button type="button" class="dropdown me-3 btn btn-light" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user" style="color: #484747;"></i>
                      </button>
                      <div class="dropdown-menu p-3" style="width: 250px">
                        <input v-if="accessJti === null" v-model="username" class="form-control mt-1" placeholder="Username">
                        <h6 v-if="accessJti !== null" class="text-center mb-3"><strong>User: </strong>{{ username }}</h6>
                        <input v-if="accessJti === null" v-model="password" type="password" class="form-control mt-1" placeholder="Kodeord">                        
                        <div class="d-flex justify-content-center my-1">
                          <button v-if="accessJti === null" type="submit" @click="login()" class="btn btn-success text-center w-100 text-white">Log ind</button>
                          <button v-else @click="logout()" type="submit" class="btn btn-danger text-center w-100 text-white">Logout</button>
                        </div>           
                        <div v-if="accessJti === null">
                          <a href="#" id="userRegister" >Glemt koden?</a> 
                          <br>
                          <a href="/userRegister.html" id="userRegister" >Opret dig</a>
                        </div>    
                      </div>
                    </div>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </div>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                  </li>
                  <li v-if="accessJti" class="nav-item">
                    <a class="nav-link" href="./Kontrol.html">Kontrol</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./userRegister.html">Opret bruger</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Om os</a>
                  </li>
                    <a @click="scrollBottom" class="nav-link">Kontakt</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <!-- Main -->
        <div class="container w-25 mb-5">
            <h2 class="text-center mt-3"><i class="fas fa-user-plus text-success me-2"></i></h2>
            <h2 class="text-center mt-3"></h2>
            <div class="card mb-3 my-4" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="card-body shadow-lg">
                        <h5 class="card-title mb-3">Opret bruger</h5>
                        <form @submit.prevent="createUser()">
                            <!-- <label for="nameInput" class="form-label">User name</label> -->
                            <input v-model="username" type="text" class="form-control" id="nameInput" placeholder="User name" required minlength="10">
                            <input v-model="mail" type="email" class="form-control my-3" id="emailInput" placeholder="Email" required>
                            <input v-model="password" type="password" class="form-control" id="passwordInput" placeholder="Adgangskode" required>
                            <input v-model="password2" type="password" class="form-control my-3" id="passwordInput" placeholder="Gentag adgangskode" required>
                            <div class="d-flex justify-content-center my-1">
                                <button type="submit" @click="userRegister()" class="btn btn-success text-center w-100 text-white">Opret bruger</button>
                            </div>  
                        </form>
                      </div>           
                </div>
              </div>
        </div>


        <footer class="d-flex justify-content-around container-fluid py-3 shadow mt-5">
          <div class="d-flex flex-column justify-content-center" style="width: 40vw; max-width: 500px;">
              <h1>Kontakt os</h1>
              <input v-model="contactMail" type="text" placeholder="Email" class="form-control my-1">
              <input v-model="contactName" type="text" placeholder="Navn" class="form-control my-1">
              <textarea v-model="contactMessage" name="Besked" class="form-control my-1" placeholder="Besked" id="" cols="5" rows="5"></textarea>
              <button @click="sendMail" class="btn btn-success w-100">Send</button>
          </div>
          <img src="./Images/Logo.png" class="" style="max-height: 350px; max-width: 350px;"> 
        </footer>
    </div>    
</body>
</html>
<script src="/js/index.js"></script>

<style>
  .nav-link:hover {
  cursor: pointer;
}
</style>